
.btn-header, .btn-outline, .btn-accent,
.btn-white, .btn-white-reverse {
    
    border-radius: var(--border-radius);
    
    font-family: var(--main-font);
    
    font-weight: lighter;
}

.btn-outline, .btn-accent, .btn-white,
.btn-white-reverse{
    
    border-width: var(--border-width);
}




.btn-header {
    
    color: var(--white-color);
    
    transition-property: color, background-color;
    transition-duration: 200ms;
}

.btn-header:hover {
    
    
    color: var(--white-color);
    background-color: var(--white-transparent-color);
}


.btn-outline, .btn-white {
    
    color: var(--white-color);
    
    border-color: var(--white-color);
    
    transition-property: color, background-color;
    transition-duration: 200ms;
}

.btn-outline:hover{
    
    color: var(--white-color);
    
    border-color: var(--white-color);
    
    background-color: var(--white-transparent-color);
}


.btn-accent {
    
    color: var(--accent-color);
    
    border-color: var(--accent-color);
}

.btn-accent:hover{
    
    color: var(--white-color);
    
    background-color: var(--accent-color);
}


.btn-white-reverse {
 
    color: var(--black-color);
}

.btn-white-reverse:hover {
    
    color: var(--white-color);

    border-color: var(--white-color);
}



.btn-white:hover, .btn-white-reverse {
    
    background-color: var(--white-color);
}


.btn-accordion-accent{
    
    color: var(--white-color);
    background-color: var(--accent-color);
}

.btn-accordion-accent:focus,
.btn-accordion-accent:active{
    color: var(--white-color);
    background-color: var(--accent-color);
}



.input-accent, .input-accent-outline {

    font-family: var(--secondary-font);
    font-weight: normal;
    
    box-sizing: border-box;
    box-shadow: none;
    
    width: 100%;
    
    padding: 5px;
    
    border-radius: var(--border-radius);
    border-width: var(--border-width-md);
    
    outline: none;
    

    transition-property: transform, font-weight;
    transition-duration: 200ms;
    
    transform: scale(1);
}


.input-accent:focus, .input-accent:hover,
.input-accent-outline:focus, .input-accent-outline:hover {
   
    transform: scale(1.1);
    font-weight: bold;
}


.input-accent {
    
    color: var(--white-color);
    background-color: var(--accent-color);
    
    border-color: var(--white-color);
}

.input-accent-outline {

    color: var(--black-color);
    background-color: var(--white-color);
    
    border-color: var(--accent-color);
}



.input-accent::placeholder {
    color: var(--white-color);
    opacity: 0.7;
}
